target
.settings
.classpath
.project
*.DS_STORE
*.lock
*.jasper
.metadata
bin
data
.idea
.fdt
.fdx
.recommenders
Servers
*.iml
node_modules
icos-otc/src/main/webapp/resources/applet/printing-applet*.jar
*.log
node/
node_modules/
target/
